<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<bean id="hibernateSupport"	class="org.springframework.orm.hibernate3.support.HibernateDaoSupport" abstract="true">
		<property name="sessionFactory" ref="jtmSessionFactory" />
	</bean>
	
	
	<bean id="hibernateSupportForInterceptor"	class="org.springframework.orm.hibernate3.support.HibernateDaoSupport" abstract="true">
		<property name="sessionFactory" ref="sessionFactoryForInterceptor" />
	</bean>
	
	<bean id="vmsDaoForInterceptor" class="vin.vms.dao.VmsDao" parent="hibernateSupportForInterceptor" />
	
	<bean id="vehicleDetailsDao" class="vin.vms.dao.vehicle.VehicleDetailsDaoImpl"  parent="hibernateSupport"> </bean> 
	
	<bean id="driverDetailsDao" class="vin.vms.dao.vehicle.DriverDetailsDaoImpl"  parent="hibernateSupport"> </bean> 
	
	<bean id="bookingDetailsDao" class="vin.vms.dao.vehicle.BookingDetailsDaoImpl"  parent="hibernateSupport"> </bean> 
	
	<bean id="fuelDetailsDao" class="vin.vms.dao.vehicle.FuelDetailsDaoImpl"  parent="hibernateSupport"> </bean> 
	
	<bean id="maintenanceDetailsDao" class="vin.vms.dao.vehicle.MaintenanceDetailsDaoImpl"  parent="hibernateSupport"> </bean> 
	
	
</beans>
